<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="navbar.html :: headerfiles">
</head>
<body>
<header th:insert="navbar.html :: nav"></header>
<div class="container">

	<div class="row my-5" style="text-align: center; display: flex;justify-content: center;align-items: center;">
		<div class="list-group col-5">
			<a class="list-group-item list-group-item-action"
			   href="#" th:href="@{/manager/CategoryList}">Category List</a>
			<a class="list-group-item list-group-item-action"
			   href="#" th:href="@{/manager/ProductList}">Product List</a>
		</div>
	</div>

	<table class="table my-5">
		<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Product Name</th>
			<th scope="col">Description</th>
			<th scope="col">Price</th>
			<th scope="col">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="product : ${productList}">
			<th scope="row" th:text="${product.productId}"></th>
			<td th:text="${product.productName}"></td>
			<td th:text="${product.productDescription}"></td>
			<td th:text="${product.productPrice}"></td>
			<td>
				<a href="#"
				   th:href="@{'/manager/updateProduct/'+ ${product.productId}}"
				   class="btn btn-primary">Update</a>
				<a href="#"
				   th:href="@{'/manager/delete-Product/'+ ${product.productId}}"
				   class="btn btn-danger">Delete</a>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="container">
		<h1 class="display-4 my-2"style="text-align: center; font-size:35px; font-family:'Times New Roman',serif" th:text ="'Add New Product'"></h1>
	</div>
	<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
		<div class="card">
			<div class="card-block" style="padding: 24px;">
				<form th:action="@{/manager/add-product}" method="post" enctype="multipart/form-data">
					<fieldset>
						<div class="form-group">
							<select class="custom-select" name="category">
								<option selected>Select Category</option>
								<option th:each="category : ${categoryList}"
										th:value="${category.categoryId}"
										th:text="${category.categoryName}"></option>
							</select>
						</div>

						<div class="form-group">
							<label for="productName">Product Name</label>
							<input type="text"
								   class="form-control" id="productName" name="productName"
								   placeholder="Product Name">
						</div>

						<div class="form-group">
							<label for="productDescription">Product Description</label>
							<input type="text" class="form-control" id="productDescription" name="productDescription"
								   placeholder="Product Description">
						</div>

						<div class="form-group">
							<label for="productPrice">Product Price</label>
							<input type="number"
								   class="form-control" id="productPrice" name="productPrice"
								   placeholder="Product Price">
						</div>


						<div class="form-actions" style="margin-top: 12px; display: flex;justify-content: center;align-items: center;">
							<button type="submit" class="btn btn-success">ADD Product</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>